body{
    background-color: thistle;
    display: flex;
    flex-direction: column-reverse;
    font-size: 36px;
    justify-content: flex-end;
    height: 100vh;
    gap: 25px;
}

div{
    border: 2px solid #000;
}